@charset "UTF-8";
/* CSS Document */

#controlersPanel { /*Flip filters from left to right */
	display:flex;
	flex-direction:row-reverse !important;
}
.google-visualization-table-page-numbers { /*Page Numbers*/
    display:inline-block !important; /*Show Page Numbers*/
    float: left; /*Shift the page numbers to the left of the arrows*/
}

.google-visualization-table-table{ /*Flip table from left to right */
	direction:rtl;
}

.awt-searchFilter-input { /*open text field*/
    padding: 1px 10px 1px 8px;
}
